<div class="animated fadeIn">
   
     
    <!--/.row-->

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Basic Form</strong>Personal Information
                </div>
                <div class="card-block">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal ">
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">Static</label>
                            <div class="col-md-9">
                                <p class="form-control-static">Username</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">Fullname</label>
                            <div class="col-md-9">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">
                                <span class="help-block">your fullname</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="email-input">Email </label>
                            <div class="col-md-9">
                                <input type="email" id="email-input" name="email-input" class="form-control" placeholder="Enter Email">
                                <span class="help-block">Please enter your email</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="password-input">Password</label>
                            <div class="col-md-9">
                                <input type="password" id="password-input" name="password-input" class="form-control" placeholder="Password">
                                <span class="help-block">Please enter a complex password</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="textarea-input">Address</label>
                            <div class="col-md-9">
                                <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Content.."></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="select">DOB</label>
                            <div class="col-md-9">
                                <select id="select" name="select" class="form-control" size="1">
                                    <option value="0">Please select</option>
                                    <option value="1">Option #1</option>
                                    <option value="2">Option #2</option>
                                    <option value="3">Option #3</option>
                                </select>
                            </div>
                        </div>
                       
                    </form>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                    <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <strong>Inline</strong>Form
                </div>
                <div class="card-block">
                    <form action="" method="post" class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="if-email">Email</label>
                            <input type="email" id="if-email" name="if-email" class="form-control" placeholder="Enter Email..">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="if-password">Password</label>
                            <input type="password" id="if-password" name="if-password" class="form-control" placeholder="Enter Password..">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                    <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                </div>
            </div>
        </div>
      
    </div>
    <!--/.row-->

   
</div>
