<div class="animated fadeIn">
   
     
    <!--/.row-->

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Personal Information</strong>
                </div>
                <div class="card-block">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal ">
                        
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">Fullname</label>
                            <div class="col-md-9">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">
                                <span class="help-block">your fullname</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="email-input">Email </label>
                            <div class="col-md-9">
                                <input type="email" id="email-input" name="email-input" class="form-control" placeholder="Enter Email">
                                <span class="help-block">Please enter your email</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="password-input">Password</label>
                            <div class="col-md-9">
                                <input type="password" id="password-input" name="password-input" class="form-control" placeholder="Password">
                                <span class="help-block">Please enter a complex password</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="textarea-input">Address</label>
                            <div class="col-md-9">
                                <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Content.."></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="select">DOB</label>
                            <div class="col-md-9">
                                <input type="date" id="password-input" name="password-input" class="form-control" placeholder="Date Of Birth">
                            </div>
                        </div>
                         <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="select">Executive Possition and Date</label>
                            <div class="col-md-9">
                             <input type="text" id="password-input" name="password-input" class="form-control" placeholder="Possition">
                                <input type="date" id="password-input" name="password-input" class="form-control" placeholder="Date">
                            </div>
                        </div>
                       
                    </form>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                    <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                </div>
            </div>

        </div>
      
    </div>
    <!--/.row-->

   
</div>
